body {
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
}

input, button {
	font-family: 'Alegreya Sans', sans-serif;
}

.main {
	height:100%;
	text-align: center;
	padding: 7% 40px;
}

.main * {
	z-index:1;
}

.main:before {
	content: ' ';
	background-image: url(/assets/images/main-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	-webkit-filter: blur(7px);
}

.main:after {
	background-color:white;
	opacity:0.4;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	content: ' ';
	z-index:-1;
}

.list-area {
	width: 40%;
	margin: auto;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.7);
	padding: 40px;
	margin: 40px auto;
}

.todo-list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.todo-item {
	position: relative;
	padding: 4px 0px;
	font-size: 18px;
}

.todo-item input[type="checkbox"] {
	position:absolute;
	right:40px;
}

.todo-item button {
	position:absolute;
	right:0;
}

.new-item-input {
	display: block;
	width: 50%;
	margin: 40px auto;
	font-size: 24px;
	padding: 10px;
	border: 0;
	background: 0;
	color: black;
	border-bottom: 1px solid black;
	z-index: 1;
	position: relative;
}

.new-item-input:active,
.new-item-input:focus {
	outline: 0;
}

::-webkit-input-placeholder {
	color: #414141;
}

.heading {
	font-family: 'Lobster', cursive;
	font-size: 32px;
}

.checked {
    text-decoration: line-through;
}